.contact-section {
  margin: 200px 0;
  padding: 0 25px;
  .contact-info {
    color: black;
    
   
   
  
.card-wrapper{
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 20px;


    .card {
     width: 100%;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 35px 25px;
      border-radius: 5px;

      .icon {
        color: var(--primary);
        font-size: 35px;
      }
      span {
        display: block;
        font-size: 16px;
        font-weight: 600;
        color: var(--black-900);
        margin: 15px 0 10px;
        text-transform: capitalize;
      }
      p {
        font-size: 16px;
        color: var(--black-400);
        line-height: 26px;
        margin: 0;
      }
    }
  }
}

  .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 50px;
    .w-50 {
      padding: 0 15px;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .input-group {
      margin: 0 0 25px;
      border-radius: 30px;
      background-color: #a8b7ce;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
    .input-control {
      height: 45px;
      display: block;
      width: 100%;
      border-radius: 30px;
      border: none;
      outline: none;
      background-color: rgb(211, 211, 219);
      font-size: 15px;
      transition: all 0.3s ease;
      padding: 0 15px;
      color: rgb(32, 30, 30);
    }
    textarea.input-control {
      height: 180px;
      padding-top: 15px;
      resize: none;
    }
    .input-control:focus {
      border: 1px solid var(--primary);
    }
    .submit-btn {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: right;
      padding: 0 15px;
    }
  }
}

@media (max-width: 862px) {
  .contact-section {
    .contact-info {
      padding-bottom: 100px;
      .card-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    .contact-form{
      .w-50{
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}
